<h1> About Bitcoin-india </h1>

<h3>
	==========About Bitcoin INDIA™==========

   Bitcoin India™ Software Services Pvt. Ltd. is a private company based in India that provides web and mobile digital wallet services. Our mission is to provide the easiest and most secure digital currency value-added services for consumers and merchants.

Bitcoin India™ plays a leading role in every segment of the Bitcoin ecosystem, offering a digital currency exchange (https://bitcoin-india.org/exchange), a mining pool, payment processing, consumer wallets, instant coin swap (coin exchange), and blockchain-related services.

Bitcoin India™ is the longest-running, one-and-only Indian exchange and wallet service provider that owns and operates Global “Mining Pool” (https://pool.bitcoin-india.org/). Bitcoin India™ truly believes in the new blockchain technology and strives to be the premier technical service provider to the world from India. We are working hard to secure the transactional network with Bitcoin Mining to support the "World of Bitcoin/Blockchain Ecosystem.” We are a proud supporter of Bitcoin Core Team</h3>